<h1>Conciliação de extratos bancários</h1>
<p>Bem-vindo ao sistema de conciliação de extratos bancários utilizando arquivos OFX! Utilize as opções acima para navegar</p>
<h2>Descrição de módulos</h2>
<ul>
  <li><b>Home</b> - Leva a página inicial do sistema</li>
  <li><b>Nova Importação</b> - Abre o módulo para fazer upload de arquivos OFX, processamento para remoção de duplicidade, e carga dos mesmos no banco de dados.</li>
  <li><b>Consultar</b> - Abre listagem com todas as operações salvas no banco de dados.</li>
</ul>
<footer>Desenvolvido por Vinicius Cardoso Bandeira (vbandeira@gmail.com)</footer>