<h1>Consulta de transações</h1>

<p *ngIf="!transactions"><em>Carregando...</em></p>
<div *ngIf="transactions">
  Total de transações: {{transactions.length}}<br/>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Data</th>
        <th>Tipo de operação</th>
        <th>Valor</th>
        <th>Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.datePosted | date:'dd/MM/yyyy hh:mm:ss' }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.transactionAmount | currency:'BRL':true }}</td>
        <td>{{ transaction.memo }}</td>
      </tr>
    </tbody>
  </table>
</div>